<h2>Castles</h2>

<ul class="castle-list">
  {{#each}}
    <li>
      {{#link-to 'castles.show' this}}
        <img src="{{unbound image}}"/>
      {{/link-to}}
      <div>${{earned}}</div>
      <div>${{perSecond}} / Sec</div>
      <div>{{buildingCount}} Buildings</div>
    </li>
  {{/each}}
</ul>

