<h2 id='title'>{{#link-to 'castles'}}Kastle King{{/link-to}}</h2>


{{outlet}}

<br/>
<br/>
<footer>
  <a href="http://www.copyright.gov/">&copy;</a> <a href="http://www.imdb.com/year/2014/">2014</a> <a href="https://www.linkedin.com/pub/eric-schank/0/593/6ba">Eric Schank</a> | Images by Connor Schank (age 7)
</footer>